@media only screen and (max-width: 960px) {
  .navbar .main-nav {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
}
@media only screen and (max-width: 790px) {
  .feature-area .container{
    flex-wrap: wrap;
  }
  .feature-area .item{
    width: 45%;
  }
  .project-area .container{
    flex-wrap: wrap;
  }
  .project-area .project{
    width: 45%;
    margin: 0 0 2rem;
    text-align: center;
  }
  .project-area .project a{
    text-align: center;
    margin-top: 2rem;
  }
  .main-footer{
    flex-wrap: wrap;
  }
  .main-footer .footer-item{
    width: 47%;
    max-width: none;
  }
  .main-footer .footer-item:nth-child(2){
    margin-right: 0;
  }
}
@media only screen and (max-width: 630px) {
  .container{
    padding: 0 1rem;
  }
  .top-header {
    flex-direction: column;
    text-align: center;
  }
  .top-header .logo {
    height: auto;
    width: auto;
    padding: 2rem 0rem;
  }
  .top-header .social-area {
    background: none;
    border-radius: 0;
    padding-top: 0;
    width: 100%;
  }
  .top-header .social-area a {
    margin: 0 1rem;
  }
  .top-header .mini-menu {
    padding: 1rem 0rem;
  }
  .navbar .search-area {
    margin: auto;
    padding: 1.3rem;
  }
  .navbar .search-area input {
    padding: 0.7rem 2rem;
  }
  .navbar .search-area input[type="text"] {
    padding: 0.7rem 3rem;
  }
  .feature-area .item{
    width: 100%;
    margin: 1.5rem 4rem;
  }
  .main-footer .footer-item{
    width: 100%;
    margin-right: 0;
  }
}
@media only screen and (max-width: 430px) {
  .top-header .social-area a{
    margin: 0 ;
  }
  .top-header .social-area a i{
    font-size: 1.5rem;
  }
  .navbar .search-area{
    padding-left: 0;
    padding-right: 0;
  }
  .navbar .search-area input[type=text]{
    padding: .7rem .2rem;
  }
  .navbar .search-area input[type=submit]{
    padding: .7rem;
  }
  .project-area .project{
    width: 100%;
  }
}